{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Control Panel</span>
                <div class="btn-group">
                    <button class="btn green" id="run">Run Bot</button>
                    <button class="btn red" id="wipe">Wipe Database</button>
                </div>
                <div id="loader" class="progress" style="margin: 1em 0 0 0; display: none;">
                    <div class="indeterminate"></div>
                </div>
                {% if error %}
                    <div class="card-panel red">
                        <span class="white-text">
                            <strong>Error:</strong>{{error}}
                        </span>
                    </div>
                {% endif %}
                {% if message %}
                    <div class="card-panel blue">
                        <span class="white-text">
                            <strong>Message:</strong>{{message}}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Results</span>
                <div id="results-body">
                    {% if products %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Model</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                    <th>Availability</th>
                                    <th>Last Check</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{product.model}}</td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.price}}</td>
                                        <td>{{product.rating}}</td>
                                        <td>
                                            <span class="chip {{product.available}}">
                                            {% if product.available %}
                                                {{product.available.split(' ')[0]}}
                                            {% else %}
                                                0
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td>{% if product.updated %}{{product.updated.strftime("%m/%d/%Y, %H:%M:%S")}}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    <span>No content, try running bot to collect some data</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_css %}
<style>
    span.chip.Available {
        background-color: #8bc34a !important;
        color: white !important;
    }
</style>
{% endblock %}


{% block extra_js %}
<script>
    $(document).ready(function(){
        $('#run').on('click', function(){
            var posting = $.post('/bot/jobs/run')
            var loader = document.getElementById('loader')
            loader.style.display = 'block'
            posting.done(function(){
                localStorage.setItem('check_db', true)
                M.toast({html: 'Bot scheduled to run'})
            })
            posting.fail(function(){
                M.toast({html: 'Bot failed to run'})
                loader.style.display = 'none'
            })
        })
        $('#wipe').on('click', function(){
            var deleting = $.ajax({url:'/lego', method:'DELETE'})
            var loader = document.getElementById('loader')
            deleting.done(function(){
                window.location.reload()
            })
            deleting.fail(function(){
                M.toast({html: 'Failed to wipe database'})
            })
        })
        function checkRunningJob(){
            if (localStorage.getItem('check_db') === 'true'){
                var getting = $.get('/bot/jobs')
                getting.done(function(data){
                    var loader = document.getElementById('loader')
                    if(data.running.length === 0 && data.pending.length === 0){
                        if(!localStorage.getItem('getting_lego')){
                            localStorage.setItem('getting_lego', true)
                            M.toast({html: 'Bot finished, updating UI'})
                        }
                        var lego = $.get('/lego')
                        lego.done(function(data){
                            var rows = `
                            <table>
                                <thead>
                                    <tr>
                                        <th>Model</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Rating</th>
                                        <th>Availability</th>
                                        <th>Last Check</th>
                                    </tr>
                                </thead>
                                <tbody>`;
                            var counter = 0;
                            for(var i=0; i<data.length; i++){
                                rows += `
                                <tr>
                                    <td>${data[i].model}</td>
                                    <td>${data[i].name}</td>
                                    <td>${data[i].price}</td>
                                    <td>${data[i].rating}</td>
                                    <td>
                                        <span class="chip ${data[i].available}">
                                            ${data[i].available ? data[i].available.split(' ')[0] : "0"}
                                        </span></td>
                                    <td>${data[i].updated}</td>
                                </tr>`
                                counter++
                            }
                            if (counter === data.length && data.length > 0){
                                rows += `</tbody></table>`
                                $('#results-body').html(rows)
                                var loader = document.getElementById('loader')
                                loader.style.display = 'none'
                                localStorage.removeItem('getting_lego')
                                localStorage.removeItem('check_db')
                            }
                        })
                        lego.fail(function(data){
                            M.toast({html: 'Failed to update UI'})
                            loader.style.display = 'none'
                        })
                    }
                })
                getting.fail(function(){
                    M.toast({html: 'Failed to retrieve data from bot'})
                    loader.style.display = 'none'
                })
            }
        }
        setInterval(checkRunningJob, 2000);
    })
</script>
{% endblock %}